/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
./resources/assets/node_modules
./node_modules/.bin/nanoid
./node_modules/.bin/vite
./node_modules/.bin/esbuild
./node_modules/.bin/rollup
./node_modules/.bin/clean-orphaned-assets
./public/assets
