html {
    color: var(--teal-darken-4);
}

body {
    overflow: hidden;
}

label {
    font-size: 1rem;
}

.flex {
    display: flex;
}

.flex-center,
.items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-start {
    place-content: start;
}

.pointer {
    cursor: pointer !important;
}

.border {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgba(160, 160, 160, 0.2);
}

.border-top {
    border-top-width: 1px !important;
    border-top-style: solid !important;
    border-top-color: rgba(160, 160, 160, 0.5);
    /* border-top-color: inherit; */
}

.border-bottom {
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    border-bottom-color: rgba(160, 160, 160, 0.5);
    /* border-bottom-color: inherit; */
}

.border-left {
    border-left-width: 1px !important;
    border-left-style: solid !important;
    border-left-color: rgba(160, 160, 160, 0.5);
    /* border-left-color: inherit; */
}

.border-right {
    border-right-width: 1px !important;
    border-right-style: solid !important;
    border-right-color: rgba(160, 160, 160, 0.5);
    /* border-right-color: inherit; */
}

.border-rl,
.border-lr {
    border-left: 1px solid #ebebeb !important;
    border-right: 1px solid #ebebeb !important;
}

.border-radius-1 {
    border-radius: 1px !important;
}

.border-radius-2 {
    border-radius: 2px !important;
}

.border-radius-3 {
    border-radius: 3px !important;
}

.border-radius-4 {
    border-radius: 4px !important;
}

.border-radius-5 {
    border-radius: 5px !important;
}

.border-radius-6 {
    border-radius: 6px !important;
}

.border-radius-7 {
    border-radius: 7px !important;
}

.border-radius-8 {
    border-radius: 8px !important;
}

.border-radius-9 {
    border-radius: 9px !important;
}

.border-radius-10 {
    border-radius: 10px !important;
}

.border-radius-11 {
    border-radius: 11px !important;
}

.border-radius-12 {
    border-radius: 12px !important;
}

.border-radius-13 {
    border-radius: 13px !important;
}

.border-radius-14 {
    border-radius: 14px !important;
}

.border-radius-15 {
    border-radius: 15px !important;
}

.border-radius-16 {
    border-radius: 16px !important;
}

.border-radius-17 {
    border-radius: 17px !important;
}

.border-radius-18 {
    border-radius: 18px !important;
}

.border-radius-19 {
    border-radius: 19px !important;
}

.border-radius-20 {
    border-radius: 20px !important;
}

.btn,
.btn-flat,
.btn-floating {
    text-transform: uppercase;
    outline: 1px solid rgba(0, 0, 0, 0);
}

/** Editor */
.fr-wrapper {
    height: 98px;
    overflow: auto;
}

nav ul a:hover,
.btn:hover,
.btn-floating:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

/*
.btn-floating:hover {
    outline: 1px solid rgba(0, 0, 0, 0.21);
}
*/


.btn i,
.btn span,
.btn-flat i,
.btn-flat span,
.btn-floating i,
.btn-floating span {
    color: inherit !important;
}

.btn i,
.btn-floating i {
    font-size: 2rem;
}

main,
header,
.navbar-main,
.sidenav,
.main-menu,
aside {
    transition: all 400ms !important;
    -webkit-transition: all 400ms !important;
}

main {
    display: block;
    height: calc(100vh - 54px);
    position: absolute;
    left: 0;
    right: 0;
    padding: 30px 30px 30px 330px;
}

main::before,
main::after {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

main::before {
    background-image: url("../img/app/bg-white-landscape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

main::after {
    background-color: var(--teal-lighten-1);
    opacity: 0.7;
}

main>.main-container {
    position: relative;
    background-color: #ffffff;
    margin: 0;
    margin-bottom: 120px;
    width: auto;
    height: calc(100vh - 120px);
    max-width: 100%;
    overflow: hidden;
    border-radius: 24px;
    padding: 0;
    border-bottom-width: 10px;
    border-top-width: 10px;
    border-color: var(--teal-darken-4);
    border-style: solid none solid;
}

main>.main-container>.container {
    position: relative;
    overflow: auto;
    padding: 20px;
    max-width: inherit;
    width: inherit;
    height: 100%;
}

main>.card {
    border-width: 10px 0 10px;
    border-style: solid;
    border-color: var(--teal-darken-3);
    border-radius: 24px;
    overflow: hidden;
    height: calc(100vh - 120px);
}

main>.card>.card-content {
    height: calc(100% - 56px);
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

main>.card>.card-reveal {
    /* display: none; */
    /* transform: translateY(0%) !important; */
    transition: 250ms;
    overflow: hidden;
}

main>.card>.card-reveal .card-content {
    height: calc(100% - 125px);
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
}

main>.card .card-action {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.card .card-action {
    padding: 16px;
}

.card-content {
    overflow-y: auto;
}

main>.card>section>header {
    position: relative;
    height: 56px;
    background-color: #fff;
    padding: 5px 20px;
    display: flex;
    place-content: space-between;
    flex-direction: row;
    align-items: center;
}

.card-tabs .tabs {
    height: auto;
    max-height: 70px;
}

.card-tabs .tabs .tab {
    display: inline-block;
    text-align: center;
    line-height: 56px;
    height: inherit;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.tabs .tab a {
    font-size: 13px;
    font-weight: 500;
}

main>.card>section>header input[type="search"] {
    position: relative;
    height: inherit;
    margin: 0;
    background-image: none !important;
    border: none;
    border-bottom: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    display: none;
}

.main-container>.card {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

#search-on-page {
    position: relative;
    width: calc(100% - 20%);
    height: inherit;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#search-on-page .btn,
#search-on-page input[type="search"] {
    position: absolute;
    /* left: 5px; */
}

.material-symbols-outlined {
    font-size: 28px;
}

small {
    font-size: .8rem;
}

.navbar {
    position: relative;
    z-index: 997;
}

.navbar-color {
    background-color: #ffffff;
}

#page-title {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    height: inherit;
    line-height: inherit;
    vertical-align: middle;
    color: var(--teal-lighten-1);
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    max-width: calc(100% - 120px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 12px;
}

#page-title .icon,
#page-title .btn {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    height: inherit;
    line-height: inherit;
    font-weight: 300;
    font-size: 34px;
    top: -3px;
    position: relative;
}

#page-title .btn {
    width: 34px;
    height: 34px;
    line-height: 34px;
    vertical-align: middle;
    color: inherit;
}

#page-title::before {
    content: '';
    height: 80%;
    width: 10px;
    background-color: var(--red-lighten-1);
    display: none;
    float: left;
    margin-right: 10px;
    border-radius: 0 0 10px 10px;
}

#page-title a {
    color: inherit;
}

.progress {
    position: absolute;
    height: 5px;
    display: block;
    width: 100%;
    background-color: #acece6;
    border-radius: 2px;
    margin: 0;
    overflow: hidden;
    /* bottom: -1px; */
    top: 60px;
    left: 300px;
    right: 0;
    border-radius: 0;
    z-index: 999999;
    display: none;
}

.pace {
    position: absolute;
    left: 0;
    top: 60px;
    right: 0;
    width: calc(100% - 300px);
    height: 5px;
    z-index: 1000000;
    overflow: hidden;
    left: 300px;
}

.pace .pace-progress {
    background: var(--teal-lighten-1);
    position: absolute;
    z-index: 1000000;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
}

.navbar-search-wrapper {
    position: relative;
    z-index: 999;
}

#input-search-header {
    position: absolute;
    top: 0;
    z-index: 9999999;
    /* height: 64px; */
    height: 55px;
    background-color: #ffffff;
    box-shadow: none !important;
    border: none !important;
    display: none;
    padding: 0 5px;
    width: calc(100% - 60px);
    transition: opacity 3000ms;
}

#input-search-header.show {
    display: block;
    opacity: 1;
}


.navbar-fixed,
.row .col[class*=push-],
.row .col[class*=pull-],
nav .nav-wrapper,
nav .sidenav-trigger {
    position: relative;
}

.navbar .navbar-main {
    padding: 0 8px 0 310px;
}

.navbar-fixed nav {
    position: fixed;
}

nav {
    width: 100%;
    height: 64px;
    line-height: 64px;
    background-color: #9c27b0;
}

nav [class*=mdi-],
nav [class^=mdi-],
nav i {
    font-size: 24px;
    line-height: 56px;
    display: block;
    height: 56px;
}

nav .sidenav-trigger {
    margin: 0;
}

.navbar-color.navbar-transparent {
    background-color: transparent;
    backdrop-filter: blur(3px);
}

.navbar .notification-button,
.navbar .toggle-fullscreen {
    line-height: 1;
}


.navbar .notification-button,
.navbar .toggle-fullscreen,
.navbar ul a,
.tabs .tab a {
    color: var(--teal-lighten-1) !important;
}


.tabs .tab a:hover,
.tabs .tab a.active {
    color: #fff;
    background-color: rgba(30, 161, 173, 0.05);
}

.tabs .indicator {
    background-color: var(--teal-lighten-1);
}

.tabs-content.carousel.carousel-slider {
    position: absolute;
    height: 100% !important;
}

.tabs-content .carousel-item {
    padding: 20px;
    overflow: auto;
    height: calc(100% - 50px);
}

.navbar .notification-button i {
    width: 28px;
}

.navbar .notification-badge {
    /* font-family: 'Montserrat', sans-serif; */
    position: relative;
    top: -15px;
    right: 30px;
    margin: 0 -0.9999rem;
    color: #fff;
    border-radius: 50%;
    background-color: var(--red-lighten-1);
    box-shadow: 0 0 10px 0 var(--red-lighten-1);
    height: 22px;
    display: inline-block;
    width: 22px;
    padding: 0;
    line-height: 22px;
    text-align: center;
    font-size: 0.75rem;
    font-weight: bold;
}

.navbar-nav .logo span {
    position: relative;
    top: -5px;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-image: url("../img/logo/coracao.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.navbar-nav .logo span::after {
    content: '';
    width: 60px;
    height: 60px;
    position: absolute;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    border-radius: 100%;
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -30px;
    margin-bottom: -30px;
    z-index: -1;
}

nav ul a,
.sidenav li>a,
.sidenav li>a>i {
    color: var(--grey-darken-4);
}

nav ul a {
    top: -1px;
}

/*
.sidenav li:not(.navigation-header) {
    background: transparent;
    margin-right: 20px;
    border-radius: 0 20px 20px 0;
    padding-right: 20px;
}


.sidenav li:not(.navigation-header).active {
    background-color: rgba(0, 0, 0, 0.05);
}

.sidenav-active-rounded .sidenav li a,
.sidenav-active-rounded .sidenav li a.collapsible-header,
.sidenav-active-rounded .sidenav li>a {
    margin-right: 0 !important;
    background: none !important;
    border-radius: 0 !important;
} */

.sidenav li a i {
    font-size: 2rem;
    font-weight: 300;
}

.sidenav li a.active {
    /* background-color: var(--teal-lighten-1); */
    background: -webkit-linear-gradient(45deg, var(--teal-darken-4), var(--teal-darken-1)) !important;
    background: linear-gradient(45deg, var(--teal-darken-4), var(--teal-darken-1)) !important;

    box-shadow: 0 6px 20px 0 var(--teal-lighten-4) !important;
}

.sidenav li a.active:hover,
.sidenav .collapsible-header:hover,
.sidenav.fixed .collapsible-header:hover {
    background-color: var(--teal-lighten-2);
}

.sidenav li .collapsible-body a i {
    font-size: 1.6rem;
}

.sidenav li .collapsible-body li a {
    padding-left: 30px !important;
}

.nav-collapsed .sidenav li .collapsible-body li a {
    padding-left: 16px !important;
}

.nav-collapsed .sidenav-active-rounded .sidenav li>a.active {
    margin-right: 0.5rem;
}

.nav-collapsed header nav,
.nav-collapsed .navbar .navbar-main,
.nav-collapsed main {
    padding-left: 90px;
}

.nav-collapsed header .navbar .navbar-main {
    padding-left: 70px;
}

.nav-collapsed aside {
    width: 60px;
}

/* .nav-collapsed #input-search-header {
    width: calc(100% - 115px);
    padding: 0 30px 0 90px;
} */

.nav-collapsed aside .application-logo,
.nav-collapsed aside ul li a.submenu-open:after {
    display: none;
}

.nav-collapsed aside .sidenav {
    width: inherit;
    transform: translateX(0);
}

.nav-collapsed aside:hover .sidenav {
    width: 300px;
}

.nav-collapsed aside:hover .navigation-header-text,
.nav-expanded aside:hover .navigation-header-icon,
.nav-collapsed aside:hover .application-logo {
    display: block;
}

.nav-collapsed aside:hover .navigation-header-icon {
    display: none !important;
}

.avatar-status {
    line-height: 50px;
    position: relative;
    display: inline-block;
    width: 28px;
    vertical-align: bottom;
    border-radius: 100%;
}

.avatar-status,
.card-alert .alert-circle,
.material-icons,
.text-ellipsis,
.text-nowrap {
    white-space: nowrap;
}

.avatar-status img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0;
    border-radius: 100%;
    background: #e6e6e6;
}

.avatar-online i {
    background-color: #00e676;
}

.avatar-status i {
    position: absolute;
    right: -2px;
    bottom: 18px;
    width: 9px !important;
    height: 9px !important;
    border: 1px solid #fff;
    border-radius: 100%;
}

.brand-logo img {
    width: 150px;
    margin: 10px;
}

.application-logo {
    height: 64px;
    position: relative;
}

.btn-menu,
.btn.sidenav-close {
    position: absolute;
    z-index: 999999;
    top: 10px;
    left: 9px;
}

.btn.sidenav-close {
    left: auto;
    right: 9px;
    top: 10px;
}

.btn-menu,
.btn-menu:hover,
.btn-menu:focus {
    background-color: transparent !important;
}

.application-logo {
    padding: 0px 18px;
    background-color: #ffffff;
    float: left;
    position: relative;
    text-align: center;
    width: inherit;
    display: block;
    z-index: 999998;
    padding: 10px 0;
    width: 100%;
}

.application-logo:before,
.navbar-main:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 5px;
    z-index: 999;
    border-bottom: 5px solid #acece6;
}

.application-logo:before {
    border-bottom: 5px solid var(--teal-lighten-1);
}

.application-logo a {
    line-height: 0;
}

.application-logo img {
    width: 130px;
}

.sidenav-main {
    width: 300px;
}

.sidenav .collapsible-header:after {
    font-family: 'Material Symbols';
}

.sidenav li>.collapsible-header:after {
    right: 10px;
}

.sidenav.sidenav-fixed {
    top: 0;
}

/*
.sidenav li .collapsible-body {
    padding-top: 10px;
} */

/* .collapsible {
    padding-right: 10px;
} */


.sidenav li a {
    margin: 0;
    padding-right: 20px !important
}

.sidenav-active-rounded .sidenav li.active a {
    border-radius: 0 25px 25px 0;
    /* margin-right: 0; */
    padding-right: 20px;
}

.sidenav li.active>a,
.sidenav li.active .collapsible-body {
    background: rgba(0, 0, 0, 0.1);
    /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.19); */
}

.sidenav .navigation-header {
    padding: 0 23px !important;
}

.sidenav li>a:not(.active):hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.nav-collapsed .sidenav .navigation-header,
.nav-collapsed .sidenav li a.collapsible-header,
.nav-collapsed .sidenav li>a {
    padding: 0 16px !important;
}

.nav-collapsed .sidenav .collapsible-body span,
.nav-collapsed .sidenav .collapsible-header:after,
.nav-collapsed .sidenav .menu-title,
.nav-collapsed .sidenav .user-options,
.nav-collapsed .nav-lock .navigation-header-icon {
    display: block;
}

.main-menu {
    height: calc(100% - 65px);
    position: absolute;
    padding: 0;
    margin: 0;
    background-color: inherit;
    width: 100%;
    top: 65px;
    overflow: auto;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]),
.select-wrapper:not(.browser-default) input.select-dropdown:focus,
.select-wrapper:not(.browser-default) input.select-dropdown:focus.ql-container:not([readonly]),
.chips.focus:not([readonly]),
.input-field:not(.browser-default):focus .ql-container:not([readonly]) {
    background-image: linear-gradient(var(--teal-lighten-1), var(--teal-lighten-1)), linear-gradient(#d9d9d9, #d9d9d9);
}

.profile-card {
    min-height: 430px;
    max-height: 430px;
}

.profile-card .title {
    margin-top: 20px !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile-card,
.profile-card a,
.profile-card span,
.profile-card .material-symbols-outlined {
    color: #ffffff;
    font-size: 18px;
}


.profile-card a,
.profile-card p,
.profile-card span,
.profile-card .name {
    /* font-family: 'Open Sans', sans-serif; */
}

.profile-card a,
.profile-card span {
    font-size: 13px;
    line-height: 20px;
    margin: 1px 0;
}

.profile-card .material-symbols-outlined {
    margin-right: 10px;
}

.profile-card .icon-background .material-symbols-outlined {
    font-size: 24px;
    font-weight: 300;
    margin: auto;
}

.profile-card .profile-image {
    height: 90px;
    width: 90px;
    position: relative;
    overflow: hidden;
}

.profile-card .profile-image img {
    width: 100%;
}

.profile-card .name {
    font-size: 18px;
    font-weight: 400;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 15px 0;
}

.profile .profile-image {
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin: 0 0 20px 0;
}

.profile .profile-image img {
    width: 100%;
}

@media only screen and (min-width: 1px) and (max-width: 600px) {
    main>.main-container {
        height: calc(100vh - 140px);
    }

    .pace,
    .progress {
        top: 52px;
    }

    /*
    nav,
    #input-search-header {
        height: 56px;
        line-height: 56px;
    } */

    .application-logo,
    nav {
        height: 56px;
        line-height: 56px;
    }

    .application-logo img {
        width: 116px;
    }

    .navbar .profile-button span.avatar-status {
        line-height: 39px;
    }

    .navbar .nav-wrapper .navbar-list>li>a {
        padding: 0 15px;
    }

}

@media only screen and (min-width: 601px) {

    /* nav,
    nav .nav-wrapper i,
    nav a,
    nav a.sidenav-trigger,
    nav a.sidenav-trigger i,
    #input-search-header {
        line-height: 64px;
        height: 64px;
    } */

    nav,
    nav .nav-wrapper i,
    nav a,
    nav a.sidenav-trigger,
    nav a.sidenav-trigger i {
        line-height: 64px;
        height: 64px;
    }
}

@media only screen and (max-width: 992px) {

    .pace,
    .progress {
        left: 0;
    }

    .sidenav-main .sidenav {
        width: 95%;
    }

    nav ul a:hover {
        background-color: transparent;
    }

    .navbar .navbar-main {
        padding: 0 8px 0;
    }

    main {
        padding: 10px 20px;
    }

    main>.card {
        height: calc(100vh - 200px);
    }

    .navbar-nav {
        position: fixed;
        bottom: 0;
        z-index: 999999;
        background: var(--red-lighten-1);
        left: 0;
        right: 0;
        display: flex;
        height: 56px;
        line-height: 54px;
        place-content: space-between;
        margin: 0 20px;
        border-radius: 50px 50px 0 0;
        padding: 0 25px !important;
    }

    .navbar-nav li:not(.logo) a {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 0;
        padding: 0px 6px;
        color: #fff !important;
    }

    .navbar-nav li.logo a {
        padding: 0;
    }

    .navbar-nav li a i {
        line-height: 40px;
    }

    .notification-button i {
        font-size: 29px;
        position: relative;
        top: 0px;
    }

    .navbar .notification-badge {
        background-color: #fff;
        color: var(--red-lighten-1);
        right: 32px;
        width: 20px;
        height: 20px;
        line-height: 20px;
    }

    nav .sidenav-trigger {
        margin: 8px 0;
    }

    #page-title::before {
        display: block;
    }
}

@media only screen and (min-width: 992px) {
    html {
        font-size: 14.5px;
    }

    /* #input-search-header {
        width: calc(100% - 340px);
        padding: 0 20px 0 320px;
    } */
}

@media (orientation:portrait) {
    main::before {
        background-image: url("../img/app/bg-white-portrait.jpg");
    }
}