@font-face {
    font-family: 'MontSerrat';
    src: url('../fonts/montserrat/mregular.ttf');
}

body {
    letter-spacing: 1px;
    font-family: 'MontSerrat';
}

/**
 * Defaults
 */
.no-margin,
.margin-0,
.p-0 {
    margin: 0 !important;
}

.no-padding,
.padding-0,
.p-0 {
    padding: 0;
}

.navbar-color {
    background-color: var(--teal-lighten-1) !important;
}

.navbar-fixed {
    position: fixed;
}

.skew::before {
    content: '';
    position: absolute;
    height: inherit;
    width: 100%;
    background-color: #fff;
    transform: translate(-20px, 0px) skew(-25deg, 0);
    z-index: -1;
}

.letterspacing {
    letter-spacing: 3px;
}

.border {
    border-radius: 0 0 30px 0;
}

nav {
    position: relative;
    /* flex-direction: column; */
}

nav::before,
nav::after {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
}

nav::before {
    left: 0;
    background-color: #fff;
}

nav::after {
    right: 0;
    background-color: var(--teal-lighten-1);
}

nav .nav-wrapper {
    background: #fff;
    margin: auto;
    align-items: center;
}

nav ul {
    background-color: var(--teal-lighten-1);
    width: 100%;
    z-index: 1;
}

nav .brand-logo {
    position: relative;
    padding-right: 30px;
}

nav .nav-wrapper:after {
    content: '';
    height: inherit;
    position: absolute;
    width: 100%;
    /* background: pink; */
    transform: translate(-20px, 0px) skew(-25deg, 0);
}

nav .brand-logo img {
    width: 180px;
}

/**
 * Site
 */

img {
    max-width: 100%;
}